<div>
    <ul>
        <li> {{data.email}}</li>
        <li> {{data.userName}}</li>
        <li> {{data.password}}</li>
        <li> {{data.about}}</li>
        <li> {{data.img_url}}</li>
        <li> {{data.like_dislike}}</li>
    </ul>
</div>