<div>
    <ul>
        <li> {{email}}</li>
        <li> {{userName}}</li>
        <li> {{password}}</li>
        <li> {{about}}</li>
        <li> {{img_url}}</li>
        <li> {{like_dislike}}</li>
    </ul>
</div>