        {{#each matches}}
        <div class="result">
            <ul>
                <li><img src="{{smallImageUrls.smallImageUrls}}600"/></li>
                <li>Name: {{recipeName}}</li>
                <li>Ingredients: {{ingredients}}</li>
                <li>Rating: {{rating}}</li>
                <li>Preparation Time: {{totalTimeInSeconds}}</li>
            </ul>
        </div>
        {{/each}}